@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Roboto-Italic";
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
}
body {
  background-color: rosybrown;
  font-family: "Doto";
}

p {
  font-family: "Roboto-Bold", Arial, sans-serif;
}

.oblique-font {
  font-style: oblique;
}

.italic-font {
  font-style: italic;
}

.nekojfont {
  font-family: "Crushed", Arial, Helvetica, sans-serif;
}

.font-size {
  font-size: 2rem;
  text-transform: capitalize;
}

.weight {
  font-weight: 900;
  text-decoration:line-through;
}

.decoration{ text-decoration: line-through dashed red;}

.lineheight{ line-height: 2; }

.word_letter {word-spacing: 2em; letter-spacing: 1em;}

.textalign {text-align: justify;}

.textshadow {
    text-shadow: 6px 6px 3px black;
}

