* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  background-color: red;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.box:hover {
  transform: translate(-50%, -50%) rotateZ(360deg);
} */

.hover-dropdown {
  height: 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 50px;
  letter-spacing: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  transition: all 1s;
  overflow: hidden;
}

.headerdropdown {
  height: 70px;
}




.hover-dropdown:hover {
  height: 400px;
  transition: all 0.3s;
}

.headerdropdown {
  border-top: 3px solid white ;
  width: 100px;
  padding: 10px;
}

.container-element {
  letter-spacing: initial;
  text-decoration: none;
  text-transform: none;
  color: whitesmoke;
  margin-bottom: 15px;
  padding-top: 10px;
}


a {
  text-decoration: none;
  color: white;
}

.dropdown-container {
  border-top: 3px solid white;
  width: 100%;
  padding: 10px;
}